Repository frankframework/frankframework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frankframework/maintainers, @frankframework/maintainers-backend, @philipsens, @frankframework/maintainers-frontend, @Matthbo

.github/CODEOWNERS:

# Default for all files. Maintainers is the whole team
*	@frankframework/maintainers

# Lifecycle management for pom.xml, package.json and docker compose yaml files
pom.xml		 @frankframework/maintainers-backend
docker/* 	 @frankframework/maintainers-backend @philipsens
package.json @frankframework/maintainers-frontend

# console
console/backend/*	@frankframework/maintainers-backend @Matthbo
console/frontend/*	@frankframework/maintainers-frontend

Add pipe rename funcitonality
  core/src/main/java/org/frankframework/configuration/digester/AbstractSpringPoweredDigesterFactory.java
  core/src/main/java/org/frankframework/pipes/PutInSessionPipe.java
  core/src/main/resources/xml/xsd/FrankConfig-compatibility.xsd
  core/src/main/resources/xml/xsd/FrankConfig.xsd
  core/src/test/java/org/frankframework/parameters/ParameterTest.java
  core/src/test/java/org/frankframework/pipes/PutInSessionTest.java
  core/src/test/resources/ConfigurationUtils/stub4testtool/EsbJmsListener/expected.xml
  core/src/test/resources/ConfigurationUtils/stub4testtool/EsbJmsListener/original.xml
  core/src/test/resources/FlowDiagram/Mermaid/CustomExtendedAdapterInfo/original.xml
  core/src/test/resources/FlowDiagram/Mermaid/ExtendedAdapterInfo/original.xml
  filesystem/src/main/java/org/frankframework/pipes/SambaPipe.java
  test/src/main/configurations/HTTP/ConfigurationRestListener.xml
  test/src/main/configurations/HTTP/ConfigurationWebServiceListenerSenderAddress.xml
  test/src/main/configurations/HTTP/ConfigurationWebServiceListenerSenderAttachments.xml
  test/src/main/configurations/JDBC/ConfigurationManageDatabaseWrapper.xml
  test/src/main/configurations/MainConfig/ConfigurationClobAndBlob.xml
  test/src/main/configurations/MainConfig/ConfigurationCompareXmlStringPipe.xml
  test/src/main/configurations/MainConfig/ConfigurationCreateLargeFile.xml
  test/src/main/configurations/MainConfig/ConfigurationFixedResultPipeFromClasspath.xml
  test/src/main/configurations/MainConfig/ConfigurationInputOutputWrapper.xml
  test/src/main/configurations/MainConfig/ConfigurationLocalFileSystemPipe.xml
  test/src/main/configurations/MainConfig/ConfigurationMoveFiles.xml
  test/src/main/configurations/MainConfig/ConfigurationMultipleSessionKeys.xml
  test/src/main/configurations/MainConfig/ConfigurationRemoveFromSession.xml
  test/src/main/configurations/MainConfig/ConfigurationReplaceInputAndPreserve.xml
  test/src/main/configurations/MainConfig/ConfigurationResultSet2FileSender.xml
  test/src/main/configurations/MainConfig/ConfigurationReturnedSessionKeys.xml
  test/src/main/configurations/MainConfig/ConfigurationXmlValidator.xml
  test/src/main/configurations/MainConfig/ConfigurationXsltPipe.xml
  test/src/main/configurations/TX/TransactionFailureInDbPipe.xml
  test/src/main/configurations/TX/TransactionFailureInNonDbPipe.xml
  test/src/main/configurations/TX/TransactionFailureInNotSupportedDbPipe.xml
  test/src/main/configurations/TX/TransactionTimeoutHandling.xml
  test/src/main/configurations/UTIL/ConfigurationLarva.xml
Owners: @frankframework/maintainers

Remove empty `test-integration` module (#8954)
  pom.xml
  test-integration/.project
  test-integration/pom.xml
Owners: @frankframework/maintainers-backend, @frankframework/maintainers

Apply review feedback
  core/src/main/java/org/frankframework/errormessageformatters/ErrorMessageFormatter.java
Owners: @frankframework/maintainers

Remove Maven profile test-integration
  pom.xml
Owners: @frankframework/maintainers-backend

Remove Maven profile test-integration (#8957)
  pom.xml
Owners: @frankframework/maintainers-backend

Fix tests
  core/src/test/resources/FlowDiagram/Mermaid/CustomExtendedAdapterInfo/expected.txt
  core/src/test/resources/FlowDiagram/Mermaid/ExtendedAdapterInfo/expected.txt
Owners: @frankframework/maintainers
