Repository frankframework/frankframework, pull requests merged in 2023-06, with the labels that each got.

#4958 Fix the "works on my machine" - error
  test/src/test/testtool/Receivers/NonTransacted/common/result-error.xml
  test/src/test/testtool/Receivers/Transacted/common/result-error-2.xml
  test/src/test/testtool/global.properties
Labels: Bug

#4962 Delete some outdated code that can now be done by JDK itself.
  core/src/main/java/nl/nn/adapterframework/batch/DelphiStringRecordReader.java
  core/src/main/java/nl/nn/adapterframework/errormessageformatters/FixedErrorMessageFormatter.java
  core/src/main/java/nl/nn/adapterframework/pipes/FixedResultPipe.java
  core/src/main/java/nl/nn/adapterframework/pipes/ReplacerPipe.java
  core/src/main/java/nl/nn/adapterframework/senders/FixedResultSender.java
  core/src/main/java/nl/nn/adapterframework/util/ClassLoaderUtils.java
  iaf-commons/src/main/java/nl/nn/adapterframework/util/ClassUtils.java
  iaf-commons/src/main/java/nl/nn/adapterframework/util/StringUtil.java
  iaf-commons/src/test/java/nl/nn/adapterframework/util/StringUtilTest.java
Labels: Frank Framework, Technical Debt

#4989 Fix selection of default pipeline exit
  core/src/main/java/nl/nn/adapterframework/core/PipeLine.java
  core/src/test/java/nl/nn/adapterframework/core/PipeLineTest.java
Labels: Bug, Frank Framework

#4992 Fix selection of default pipeline exit (#4989)
  core/src/main/java/nl/nn/adapterframework/core/PipeLine.java
  core/src/test/java/nl/nn/adapterframework/core/PipeLineTest.java
Labels: Bug, Backport

#5008 Fix stream-closed after Base64 Pipe
  core/src/main/java/nl/nn/adapterframework/pipes/Base64Pipe.java
  core/src/test/java/nl/nn/adapterframework/pipes/Base64PipeTest.java
  core/src/test/java/nl/nn/adapterframework/pipes/PipeTestBase.java
  core/src/test/java/nl/nn/adapterframework/pipes/ThrowingAfterCloseInputStream.java
  core/src/test/java/nl/nn/adapterframework/stream/StreamingPipeTestBase.java
  test/src/main/configurations/HTTP/ConfigurationHttpListenerSender.xml
  test/src/test/testtool/HttpListenerSender/scenario04.properties
  test/src/test/testtool/HttpListenerSender/scenario04/out.txt
Labels: Bug

#5014 Fix stream-closed after Base64Pipe stream wrapping (#4972)
  core/src/main/java/nl/nn/adapterframework/pipes/Base64Pipe.java
  core/src/test/java/nl/nn/adapterframework/pipes/Base64PipeTest.java
  core/src/test/java/nl/nn/adapterframework/pipes/PipeTestBase.java
  core/src/test/java/nl/nn/adapterframework/pipes/ThrowingAfterCloseInputStream.java
  core/src/test/java/nl/nn/adapterframework/stream/StreamingPipeTestBase.java
  test/src/main/configurations/HTTP/ConfigurationHttpListenerSender.xml
  test/src/test/testtool/HttpListenerSender/scenario04.properties
  test/src/test/testtool/HttpListenerSender/scenario04/out.txt
Labels: Bug, Backport

#5024 Limit amount of BTM DiskJournal retries
  core/src/main/java/nl/nn/adapterframework/jta/btm/BtmDiskJournal.java
Labels: Backport

#5015 Copy session into new session created for the sub-adapter call
  core/src/main/java/nl/nn/adapterframework/core/PipeLineSession.java
  core/src/main/java/nl/nn/adapterframework/http/rest/ApiListener.java
  core/src/main/java/nl/nn/adapterframework/receivers/JavaListener.java
  core/src/main/java/nl/nn/adapterframework/receivers/Receiver.java
  core/src/main/java/nl/nn/adapterframework/receivers/ServiceClient.java
  core/src/main/java/nl/nn/adapterframework/senders/IbisLocalSender.java
  core/src/test/java/nl/nn/adapterframework/receivers/JavaListenerTest.java
  core/src/test/java/nl/nn/adapterframework/senders/IbisLocalSenderTest.java
Labels: Bug

#5001 Miscellaneous small code improvements
  core/src/main/java/nl/nn/adapterframework/core/IPipe.java
  core/src/main/java/nl/nn/adapterframework/core/PipeForwards.java
  core/src/main/java/nl/nn/adapterframework/core/PipeLineSession.java
  core/src/main/java/nl/nn/adapterframework/http/HttpSenderBase.java
  core/src/main/java/nl/nn/adapterframework/parameters/ParameterValueList.java
  core/src/main/java/nl/nn/adapterframework/pipes/AbstractPipe.java
  core/src/main/java/nl/nn/adapterframework/processors/CorePipeLineProcessor.java
  core/src/main/java/nl/nn/adapterframework/stream/Message.java
  core/src/main/java/nl/nn/adapterframework/util/MessageUtils.java
Labels: Frank Framework, Technical Debt

#5000 Split up `configure` method in the PipeLine
  core/src/main/java/nl/nn/adapterframework/core/PipeLine.java
Labels: Frank Framework, Technical Debt

#4999 Split up mega-methods in the MessageSendingPipe.
  core/src/main/java/nl/nn/adapterframework/pipes/MessageSendingPipe.java
Labels: Frank Framework, Technical Debt

#5042 Migrate IMessageBrowser and ITransactionalStorage to RawMessageWrapper
  .run/IAF-Example.run.xml
  core/src/main/java/nl/nn/adapterframework/core/IListener.java
  core/src/main/java/nl/nn/adapterframework/core/IMessageBrowser.java
  core/src/main/java/nl/nn/adapterframework/core/ITransactionalStorage.java
  core/src/main/java/nl/nn/adapterframework/core/IbisTransaction.java
  core/src/main/java/nl/nn/adapterframework/core/PipeLineSession.java
  core/src/main/java/nl/nn/adapterframework/filesystem/FileSystemMessageBrowser.java
  core/src/main/java/nl/nn/adapterframework/filesystem/FileSystemMessageBrowsingIterator.java
  core/src/main/java/nl/nn/adapterframework/filesystem/FileSystemMessageBrowsingIteratorItem.java
  core/src/main/java/nl/nn/adapterframework/jdbc/JdbcListener.java
  core/src/main/java/nl/nn/adapterframework/jdbc/JdbcMessageBrowser.java
  core/src/main/java/nl/nn/adapterframework/jdbc/JdbcTableListener.java
  core/src/main/java/nl/nn/adapterframework/jdbc/JdbcTableMessageBrowser.java
  core/src/main/java/nl/nn/adapterframework/jdbc/JdbcTransactionalStorage.java
  core/src/main/java/nl/nn/adapterframework/jms/JmsBrowser.java
  core/src/main/java/nl/nn/adapterframework/jms/JmsMessageBrowser.java
  core/src/main/java/nl/nn/adapterframework/jms/JmsTransactionalStorage.java
  core/src/main/java/nl/nn/adapterframework/management/bus/endpoints/BrowseMessageBrowsers.java
  core/src/main/java/nl/nn/adapterframework/receivers/Receiver.java
  core/src/main/java/nl/nn/adapterframework/receivers/ServiceClient.java
  core/src/main/java/nl/nn/adapterframework/util/Locker.java
  core/src/main/java/nl/nn/adapterframework/util/MessageBrowsingFilter.java
  core/src/main/java/nl/nn/adapterframework/util/MessageBrowsingUtil.java
  core/src/test/java/nl/nn/adapterframework/filesystem/FileSystemMessageBrowserTest.java
  core/src/test/java/nl/nn/adapterframework/jdbc/JdbcTableListenerTest.java
  core/src/test/java/nl/nn/adapterframework/jdbc/JdbcTransactionalStorageTest.java
  core/src/test/java/nl/nn/adapterframework/jdbc/MessageStoreListenerTest.java
  core/src/test/java/nl/nn/adapterframework/jdbc/dbms/ConcurrentManagedTransactionTester.java
  core/src/test/java/nl/nn/adapterframework/management/bus/endpoints/TestBrowseMessageBrowsers.java
  core/src/test/java/nl/nn/adapterframework/receivers/ReceiverTest.java
  core/src/test/java/nl/nn/adapterframework/util/MessageBrowsingUtilTest.java
  iaf-commons/src/main/java/nl/nn/adapterframework/functional/FunctionalUtil.java
  ifsa/src/main/java/nl/nn/adapterframework/extensions/ifsa/jms/PullingIfsaProviderListener.java
  test-integration/src/test/resources/ExchangeMail.properties
Labels: Frank Framework, Technical Debt
