Repository frankframework/frankframework, pull requests merged in 2023-04, with the labels that each got.

#4730 Disable auto-streaming by default.
  core/src/main/resources/AppConstants.properties
Labels: Frank Framework

#4732 Update GitHub Action workflow and releases.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/maven-build.yml
  RELEASES.md
Labels: Backport

#4740 Additional Coding Guidelines
  AdditionalCodingGuidelines.md
  core/src/main/java/nl/nn/adapterframework/filesystem/FileSystemActor.java
  core/src/main/java/nl/nn/adapterframework/filesystem/FileSystemPipe.java
  core/src/main/java/nl/nn/adapterframework/filesystem/FileSystemSender.java
  core/src/main/java/nl/nn/adapterframework/http/RestListener.java
  core/src/main/java/nl/nn/adapterframework/http/RestServiceDispatcher.java
  core/src/main/java/nl/nn/adapterframework/http/rest/ApiListenerServlet.java
  core/src/main/java/nl/nn/adapterframework/lifecycle/IbisApplicationContext.java
  core/src/main/java/nl/nn/adapterframework/util/Misc.java
  core/src/test/java/nl/nn/adapterframework/filesystem/FileSystemActorExtraTest.java
  core/src/test/java/nl/nn/adapterframework/filesystem/FileSystemActorTest.java
  core/src/test/java/nl/nn/adapterframework/filesystem/MockFileSystemActorTest.java
  core/src/test/java/nl/nn/adapterframework/senders/ShadowSenderTest.java
  core/src/test/java/nl/nn/adapterframework/statistics/StatisticsKeeperTest.java
Labels: Frank Framework

#4751 Issue/4736 resend from error store issue
  core/src/main/java/nl/nn/adapterframework/jdbc/JdbcListener.java
  core/src/main/java/nl/nn/adapterframework/jdbc/MessageStoreListener.java
  core/src/main/java/nl/nn/adapterframework/receivers/Receiver.java
  core/src/test/java/nl/nn/adapterframework/receivers/MessageStoreListenerTest.java
  core/src/test/java/nl/nn/adapterframework/receivers/ReceiverTest.java
Labels: Bug, Frank Framework

#4803 Improve stability and output of IbisLocalSenderTest
  core/src/test/java/nl/nn/adapterframework/senders/IbisLocalSenderTest.java
Labels: Bug, Frank Framework
