Repository frankframework/frankframework, pull requests merged in 2023-02, with the labels that each got.

#4442 7.8 Backport Update logging for Exchange handling (#4421)
  core/src/main/java/nl/nn/adapterframework/filesystem/ConnectedFileSystemBase.java
  core/src/main/java/nl/nn/adapterframework/filesystem/ExchangeFileSystem.java
Labels: Bug, Frank Framework, Backport

#4468 4276 Fix intermittent timing issue with tests.
  core/src/test/java/nl/nn/adapterframework/receivers/ReceiverTest.java
Labels: Bug, Frank Framework

#4457 Add mailbox reference to mail-messages
  core/src/main/java/nl/nn/adapterframework/filesystem/ExchangeAttachmentReference.java
  core/src/main/java/nl/nn/adapterframework/filesystem/ExchangeFileSystem.java
  core/src/main/java/nl/nn/adapterframework/filesystem/ExchangeMessageReference.java
  core/src/main/java/nl/nn/adapterframework/filesystem/ExchangeObjectReference.java
  core/src/main/java/nl/nn/adapterframework/filesystem/FileSystemListener.java
  core/src/main/java/nl/nn/adapterframework/receivers/ExchangeMailListener.java
  core/src/main/java/nl/nn/adapterframework/senders/ExchangeFolderSender.java
  test-integration/pom.xml
  test-integration/src/test/java/nl/nn/adapterframework/filesystem/ExchangeFileSystemTest.java
  test-integration/src/test/java/nl/nn/adapterframework/filesystem/ExchangeMailListenerTest.java
  test-integration/src/test/java/nl/nn/adapterframework/filesystem/ExchangeMailListenerTestBase.java
  test-integration/src/test/java/nl/nn/adapterframework/filesystem/ImapFileSystemTest.java
  test-integration/src/test/java/nl/nn/adapterframework/filesystem/MailFileSystemTestBase.java
  test-integration/src/test/java/nl/nn/adapterframework/http/OAuthAccessTokenManagerTest.java
Labels: Bug, Frank Framework

#4470 (Backport 7.8) TimeoutGuards extra logging for potential deadlocks
  core/src/main/java/nl/nn/adapterframework/core/Adapter.java
  core/src/main/java/nl/nn/adapterframework/jms/JMSFacade.java
  core/src/main/java/nl/nn/adapterframework/jms/MessagingSource.java
  core/src/main/java/nl/nn/adapterframework/jms/MessagingSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/receivers/PullingListenerContainer.java
  core/src/main/java/nl/nn/adapterframework/receivers/Receiver.java
  core/src/main/java/nl/nn/adapterframework/unmanaged/PollGuard.java
  core/src/main/java/nl/nn/adapterframework/unmanaged/SpringJmsConnector.java
  core/src/test/java/nl/nn/adapterframework/receivers/ReceiverTest.java
  test-integration/pom.xml
Labels: Bug, Frank Framework, Backport

#4471 (Backport 7.7) TimeoutGuards extra logging for potential deadlocks
  core/src/main/java/nl/nn/adapterframework/core/Adapter.java
  core/src/main/java/nl/nn/adapterframework/jms/JMSFacade.java
  core/src/main/java/nl/nn/adapterframework/jms/MessagingSource.java
  core/src/main/java/nl/nn/adapterframework/jms/MessagingSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/receivers/PullingListenerContainer.java
  core/src/main/java/nl/nn/adapterframework/receivers/Receiver.java
  core/src/main/java/nl/nn/adapterframework/unmanaged/PollGuard.java
  core/src/main/java/nl/nn/adapterframework/unmanaged/SpringJmsConnector.java
  core/src/test/java/nl/nn/adapterframework/receivers/ReceiverTest.java
  test-integration/pom.xml
Labels: Bug, Frank Framework, Backport

#4483 AppConstants doesn't use correct file encoding (7.7)
  core/src/main/java/nl/nn/adapterframework/util/AppConstants.java
  core/src/test/java/nl/nn/adapterframework/pipes/XmlValidatorTest.java
  core/src/test/java/nl/nn/adapterframework/util/AppConstantsTest.java
  core/src/test/resources/AppConstants/AppConstants.properties
  core/src/test/resources/Validation/ImportInclude/root-err.xml
  core/src/test/resources/Validation/ImportInclude/root-ok.xml
  core/src/test/resources/Validation/ImportInclude/xsd/root.xsd
  core/src/test/resources/Validation/ImportInclude/xsd/root2.xsd
  core/src/test/resources/Validation/ImportInclude/xsd/root3.xsd
  core/src/test/resources/Validation/ImportInclude/xsd/root4.xsd
  core/src/test/resources/Validation/ImportInclude/xsd/sub01.xsd
  core/src/test/resources/Validation/ImportInclude/xsd/sub01a.xsd
  core/src/test/resources/Validation/ImportInclude/xsd/sub02.xsd
  core/src/test/resources/Validation/ImportInclude/xsd/sub03.xsd
  core/src/test/resources/Validation/ImportInclude/xsd/sub04.xsd
  core/src/test/resources/Validation/ImportInclude/xsd/sub05.xsd
  larva/src/main/java/nl/nn/adapterframework/testtool/TestTool.java
Labels: Backport

#4482 AppConstants doesn't use correct file encoding (7.8)
  core/src/main/java/nl/nn/adapterframework/util/AppConstants.java
  core/src/test/java/nl/nn/adapterframework/util/AppConstantsTest.java
  core/src/test/resources/AppConstants/AppConstants.properties
  larva/src/main/java/nl/nn/adapterframework/testtool/TestTool.java
Labels: Bug, Backport

#4488 Improve TestAppender so it can filter on log-level.
  core/src/test/java/nl/nn/adapterframework/testutil/TestAppender.java
  core/src/test/java/nl/nn/adapterframework/xslt/XsltErrorTestBase.java
Labels: Frank Framework

#4491 Fix connection pool configuration (7.8)
  core/src/main/java/nl/nn/adapterframework/jta/btm/BtmConnectionFactoryFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/btm/BtmDataSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/narayana/NarayanaDataSourceFactory.java
  core/src/test/java/nl/nn/adapterframework/jta/btm/BtmConnectionFactoryFactoryTest.java
  core/src/test/java/nl/nn/adapterframework/jta/btm/BtmDataSourceFactoryTest.java
  core/src/test/java/nl/nn/adapterframework/jta/narayana/NarayanaDataSourceFactoryTest.java
Labels: Backport

#4444 4258 dont set content type on empty response
  core/pom.xml
  core/src/main/java/nl/nn/adapterframework/http/rest/ApiListenerServlet.java
  core/src/main/java/nl/nn/adapterframework/stream/Message.java
  core/src/main/java/nl/nn/adapterframework/util/MessageUtils.java
  core/src/main/java/nl/nn/adapterframework/util/StreamUtil.java
  core/src/test/java/nl/nn/adapterframework/http/rest/ApiListenerServletTest.java
  test/src/main/java/nl/nn/adapterframework/pipes/LargeBlockTester.java
  test/src/test/testtool/ApiListener/06/out.txt
Labels: Bug, Frank Framework

#4498 Fix imports from the credential-provider project
  cmis/src/test/java/nl/nn/adapterframework/extensions/cmis/CmisHttpInvokerTest.java
  cmis/src/test/java/nl/nn/adapterframework/extensions/cmis/CmisSenderTestBase.java
  console/src/test/resources/DeploymentSpecifics.properties
  core/src/main/java/nl/nn/adapterframework/errormessageformatters/ErrorMessageFormatter.java
  core/src/main/java/nl/nn/adapterframework/management/bus/endpoints/BusEndpointBase.java
  core/src/main/java/nl/nn/adapterframework/util/Misc.java
  core/src/test/java/nl/nn/adapterframework/management/bus/endpoints/TestDatabaseMigrator.java
  core/src/test/java/nl/nn/adapterframework/stream/MessageTest.java
  credentialProvider/src/main/java/nl/nn/credentialprovider/util/Misc.java
Labels: Frank Framework

#4529 Bump Ladybug from 2.3-20230123.181029 to 2.3-20230217.183249
  ladybug/pom.xml
Labels: Backport

#4515 4276 Fix recursive invocation of logger
  core/src/main/java/nl/nn/adapterframework/configuration/AdapterManager.java
  core/src/main/java/nl/nn/adapterframework/core/Adapter.java
Labels: Bug, Frank Framework

#4544 Fix recursive invocation of logger (#4515)
  core/src/main/java/nl/nn/adapterframework/configuration/AdapterManager.java
  core/src/main/java/nl/nn/adapterframework/core/Adapter.java
Labels: Bug, Frank Framework, Backport

#4545 Fix recursive invocation of logger (#4515)
  core/src/main/java/nl/nn/adapterframework/configuration/AdapterManager.java
  core/src/main/java/nl/nn/adapterframework/core/Adapter.java
Labels: Bug, Frank Framework, Backport

#4549 Add token refresh to ExchangeMailListener
  core/src/main/java/nl/nn/adapterframework/filesystem/ExchangeFileSystem.java
Labels: Backport

#4553 Update Saxon version in iaf-test scenario
  test/src/test/testtool/XmlParsers/expectedParsers.xml
Labels: Backport

#4551 Improve Mariadb multi thread TableListener performance (7.8)
  core/pom.xml
  core/src/main/java/nl/nn/adapterframework/jdbc/dbms/Dbms.java
  core/src/main/java/nl/nn/adapterframework/jdbc/dbms/MariaDbDbmsSupport.java
  core/src/test/java/nl/nn/adapterframework/jdbc/dbms/DbmsSupportTest.java
  core/src/test/java/nl/nn/adapterframework/jdbc/dbms/MariaDbDbmsSupportTest.java
Labels: Backport

#4550 4511 - Only do `increaseRetryIntervalAndWait()` when message processi…
  core/src/main/java/nl/nn/adapterframework/receivers/Receiver.java
  core/src/main/java/nl/nn/adapterframework/unmanaged/SpringJmsConnector.java
Labels: Bug

#4568 Update editorconfig and setup instructions for IntelliJ
  .editorconfig
  CONTRIBUTING.md
  TESTING_WITH_IAF-TEST.md
Labels: Frank Framework
