Repository frankframework/frankframework, pull requests merged in 2024-01, with the labels that each got.

#6011 change adapter statistics & message store buttons to anchor tags
  console/frontend/src/main/frontend/src/app/views/status/status.component.html
Labels: Frank Console

#6013 truncate connections columns & click to copy
  console/frontend/src/main/frontend/src/app/views/connections/connections.component.html
  console/frontend/src/main/frontend/src/app/views/connections/connections.component.ts
Labels: Frank Console

#6014 improve pipes type & show slotid on status page
  console/frontend/src/main/frontend/src/app/app.service.ts
  console/frontend/src/main/frontend/src/app/views/status/status.component.html
Labels: Frank Console

#6081 Fix security roles in security items
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.component.html
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.component.ts
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.service.ts
Labels: Frank Console

#6083 Backport to 8.0 of Fix security roles in security items
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.component.html
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.component.ts
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.service.ts
Labels: Frank Console

#6085 Backport to 7.9 of Fix security roles in security items
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.component.html
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.component.ts
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.service.ts
Labels: Frank Console

#6012 add configurations route in navigation component knowing queryparam
  console/frontend/src/main/frontend/src/app/app.component.html
  console/frontend/src/main/frontend/src/app/app.component.ts
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.html
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.ts
Labels: Frank Console

#6087 Move user JAVA_OPTS to back so they can overwrite the defaults
  docker/Tomcat/webapp/src/scripts/entrypoint.sh
Labels: Backport

#6092 SoapWrapper should try unwrapping with soap version 1.1 too (#6032)
  core/src/main/java/org/frankframework/soap/SoapWrapper.java
  core/src/main/java/org/frankframework/soap/SoapWrapperPipe.java
  core/src/test/java/org/frankframework/pipes/SoapWrapperPipeTest.java
Labels: Bug

#6123 Remove Sonar from the 7.9 build as Sonar no longer supports JDK11
  .github/workflows/maven-build.yml
Labels: CI, 7.9

#6122 Close CMIS HTTP Client properly to avoid leaking threads (#6064)
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisCustomAtomPubSpi.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisCustomBrowserBindingSpi.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisCustomWebServicesSpi.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisHttpInvoker.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisSender.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisSessionBuilder.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisUtils.java
  core/src/main/java/nl/nn/adapterframework/http/HttpSenderBase.java
Labels: 7.9

#6132 Fowardport of Fix wrong targetStates type breaking (error) message store in the console
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.html
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.ts
  console/frontend/src/main/frontend/src/app/views/storage/storage.service.ts
  console/frontend/src/main/frontend/src/app/views/test-pipeline/test-pipeline.component.ts
Labels: Frank Console

#6131 8.0 Forwardport of Fix wrong target states type breaking (error) message store in the console
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.html
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.ts
  console/frontend/src/main/frontend/src/app/views/storage/storage.service.ts
  console/frontend/src/main/frontend/src/app/views/test-pipeline/test-pipeline.component.ts
Labels: Frank Console

#6143 Fix reading bytes message data after extracting message properties.
  core/src/main/java/nl/nn/adapterframework/extensions/esb/EsbJmsListener.java
  core/src/main/java/nl/nn/adapterframework/jms/BytesMessageInputStream.java
  core/src/main/resources/AppConstants.properties
  core/src/test/java/nl/nn/adapterframework/extensions/esb/EsbJmsListenerTest.java
  test/src/main/configurations/JMS/ConfigurationEsbJmsListenerSender.xml
  test/src/test/testtool/EsbJmsListenerSender/common.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario01.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario02.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario03.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario04.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario05.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario06.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario07.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario08.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario09.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario10.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario11.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario12.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario13.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario14.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario14/in.xml
  test/src/test/testtool/EsbJmsListenerSender/scenario14/out.xml
  test/src/test/testtool/EsbJmsListenerSender/scenario15.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario15/in.xml
  test/src/test/testtool/EsbJmsListenerSender/scenario15/out.xml
Labels: Bug, 7.9

#6151 Fix configuration versions page & api giving back sql error
  console/frontend/src/main/frontend/src/app/views/configurations/configurations-manage/configurations-manage-details/configurations-manage-details.component.html
  core/src/main/java/org/frankframework/management/bus/dto/ConfigurationDTO.java
  core/src/main/java/org/frankframework/management/bus/endpoints/ConfigManagement.java
Labels: Frank Console, Frank Framework

#6160 Truncate adapter name and descriptions in select form elements
  console/frontend/src/main/frontend/src/app/pipes/with-java-listener.pipe.ts
  console/frontend/src/main/frontend/src/app/views/scheduler/scheduler-add-edit-parent.component.html
  console/frontend/src/main/frontend/src/app/views/test-pipeline/test-pipeline.component.html
Labels: Frank Console

#6146 Sticky sidebar in Console
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.html
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/scroll-to-top.component.ts
  console/frontend/src/main/frontend/src/assets/css/bootstrap-fix.css
Labels: Frank Console

#6164 InputWrapper used to Wrap, should always specify a SoapVersion (#5925)
  core/src/main/java/nl/nn/adapterframework/soap/SoapWrapperPipe.java
  core/src/test/java/nl/nn/adapterframework/pipes/SoapWrapperPipeTest.java
Labels: 7.9

#6163 InputWrapper used to Wrap, should always specify a SoapVersion (#5925)
  core/src/main/java/org/frankframework/soap/SoapWrapperPipe.java
  core/src/test/java/org/frankframework/pipes/SoapWrapperPipeTest.java
Labels: 8.0

#6155 Don't close CMIS Session & Bindings before reading the stream
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisSender.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisSessionBuilder.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisSessionWrapper.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/server/BridgedCmisService.java
  cmis/src/test/java/nl/nn/adapterframework/extensions/cmis/CmisSenderTestBase.java
Labels: 7.8

#6169 Do not close CMIS session before PipeLineSession closes
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CloseableCmisSession.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisSender.java
  cmis/src/main/java/nl/nn/adapterframework/extensions/cmis/CmisSessionBuilder.java
  cmis/src/test/java/nl/nn/adapterframework/extensions/cmis/CmisSenderTestBase.java
Labels: 7.9

#6170 Fix reading JMS BytesMessage data after extracting message properties
  core/src/main/java/org/frankframework/jms/BytesMessageInputStream.java
  core/src/main/resources/AppConstants.properties
  nn-specials/src/main/java/org/frankframework/extensions/esb/EsbJmsListener.java
  nn-specials/src/test/java/org/frankframework/extensions/esb/EsbJmsListenerTest.java
  test/src/main/configurations/JMS/ConfigurationEsbJmsListenerSender.xml
  test/src/main/resources/DeploymentSpecifics.properties
  test/src/test/testtool/EsbJmsListenerSender/common.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario01.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario02.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario03.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario04.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario05.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario06.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario07.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario08.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario09.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario10.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario11.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario12.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario13.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario14.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario14/in.xml
  test/src/test/testtool/EsbJmsListenerSender/scenario14/out.xml
  test/src/test/testtool/EsbJmsListenerSender/scenario15.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario15/in.xml
  test/src/test/testtool/EsbJmsListenerSender/scenario15/out.xml
Labels: 8.0, JMS

#6176 Fix reading JMS BytesMessage data after extracting message properties
  core/src/main/java/org/frankframework/jms/BytesMessageInputStream.java
  core/src/main/resources/AppConstants.properties
  nn-specials/src/main/java/org/frankframework/extensions/esb/EsbJmsListener.java
  nn-specials/src/test/java/org/frankframework/extensions/esb/EsbJmsListenerTest.java
  test/src/main/configurations/JMS/ConfigurationEsbJmsListenerSender.xml
  test/src/main/resources/DeploymentSpecifics.properties
  test/src/test/testtool/EsbJmsListenerSender/common.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario01.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario02.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario03.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario04.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario05.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario06.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario07.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario08.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario09.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario10.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario11.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario12.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario13.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario14.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario14/in.xml
  test/src/test/testtool/EsbJmsListenerSender/scenario14/out.xml
  test/src/test/testtool/EsbJmsListenerSender/scenario15.properties
  test/src/test/testtool/EsbJmsListenerSender/scenario15/in.xml
  test/src/test/testtool/EsbJmsListenerSender/scenario15/out.xml
Labels: Bug, JMS

#6175 Add ConnectionPool information to SecurityItems
  core/src/main/java/nl/nn/adapterframework/jdbc/JdbcFacade.java
  core/src/main/java/nl/nn/adapterframework/jdbc/datasource/GenericObjectPoolUtil.java
  core/src/main/java/nl/nn/adapterframework/jdbc/datasource/OpenManagedDataSource.java
  core/src/main/java/nl/nn/adapterframework/jdbc/datasource/OpenPoolingDataSource.java
  core/src/main/java/nl/nn/adapterframework/jdbc/datasource/TransactionalDbmsSupportAwareDataSourceProxy.java
  core/src/main/java/nl/nn/adapterframework/jdbc/dbms/DbmsSupportFactory.java
  core/src/main/java/nl/nn/adapterframework/jms/MessagingSource.java
  core/src/main/java/nl/nn/adapterframework/jndi/JndiDataSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/btm/BtmDataSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/narayana/NarayanaDataSourceFactory.java
  core/src/test/java/nl/nn/adapterframework/jdbc/JdbcTestBase.java
  core/src/test/java/nl/nn/adapterframework/senders/MailSender2Test.java
  core/src/test/java/nl/nn/adapterframework/testutil/mock/FixedQuerySenderMock.java
  core/src/test/resources/Management/securityItemsResponse.json
Labels: 7.9

#6181 Do not close CMIS session before PipeLineSession closes
  cmis/src/main/java/org/frankframework/extensions/cmis/CloseableCmisSession.java
  cmis/src/main/java/org/frankframework/extensions/cmis/CmisSender.java
  cmis/src/main/java/org/frankframework/extensions/cmis/CmisSessionBuilder.java
  cmis/src/test/java/org/frankframework/extensions/cmis/CmisSenderTestBase.java
Labels: 8.0

#6068 Support Ladybug database storage
  core/src/main/resources/AppConstants.properties
  ladybug/pom.xml
  ladybug/src/main/java/org/frankframework/ibistesttool/DeploymentSpecificsBeanPostProcessor.java
  ladybug/src/main/resources/springIbisTestTool.xml
  ladybug/src/main/resources/springIbisTestToolApi.xml
  ladybug/src/main/resources/springIbisTestToolBaco.xml
  ladybug/src/main/resources/springIbisTestToolBipa.xml
  ladybug/src/main/resources/springIbisTestToolIgnoreReport.xml
  ladybug/src/main/resources/springIbisTestToolJuice.xml
  ladybug/src/main/resources/springIbisTestToolTibet2.xml
  ladybug/src/main/resources/springIbisTestToolToegang.xml
Labels: Feature

#6178 Calling Async sub-adapter should pass copy of original message
  core/src/main/java/nl/nn/adapterframework/senders/IsolatedServiceCaller.java
  core/src/main/java/nl/nn/adapterframework/senders/IsolatedServiceExecutor.java
  core/src/test/java/nl/nn/adapterframework/senders/IbisLocalSenderTest.java
Labels: 7.9

#6119 Add Connection Pool Validation
  core/src/main/java/nl/nn/adapterframework/jdbc/datasource/GenericObjectPoolUtil.java
  core/src/main/java/nl/nn/adapterframework/jdbc/datasource/OpenManagedDataSource.java
  core/src/main/java/nl/nn/adapterframework/jdbc/datasource/OpenPoolingDataSource.java
  core/src/main/java/nl/nn/adapterframework/jdbc/datasource/TransactionalDbmsSupportAwareDataSourceProxy.java
  core/src/main/java/nl/nn/adapterframework/jndi/JndiDataSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/jndi/PoolingJndiDataSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/btm/BtmConnectionFactoryFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/btm/BtmDataSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/narayana/NarayanaConnectionFactoryFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/narayana/NarayanaDataSourceFactory.java
  core/src/main/resources/AppConstants.properties
  core/src/main/resources/springTOMCAT.xml
  core/src/test/java/nl/nn/adapterframework/jta/btm/BtmDataSourceFactoryTest.java
  core/src/test/java/nl/nn/adapterframework/receivers/MessageStoreListenerTest.java
  core/src/test/java/nl/nn/adapterframework/testutil/URLDataSourceFactory.java
  core/src/test/java/nl/nn/adapterframework/testutil/URLXADataSourceFactory.java
  test/src/main/resources/DeploymentSpecifics.properties
  test/src/main/webapp/META-INF/context.xml
Labels: 7.9

#6186 Fix weird evaluation of truncated adapter dropdowns
  console/frontend/src/main/frontend/src/app/views/scheduler/scheduler-add-edit-parent.component.html
  console/frontend/src/main/frontend/src/app/views/test-pipeline/test-pipeline.component.html
Labels: Frank Console

#6182 Improve displaying duration of Larva tests
  larva/src/main/java/org/frankframework/testtool/TestTool.java
Labels: Larva

#6187 Fix broken XADataSource check in PoolingJndiDataSourceFactory
  core/src/main/java/nl/nn/adapterframework/jndi/AbstractXADataSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/jndi/PoolingJndiDataSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/btm/BtmDataSourceFactory.java
  core/src/main/java/nl/nn/adapterframework/jta/narayana/NarayanaDataSourceFactory.java
Labels: 7.9
