Repository frankframework/frankframework, pull requests merged in 2024-09, with the labels that each got.

#7434 Ability to dynamically add new loggers with specific log levels on the log settings page
  console/backend/src/main/java/org/frankframework/console/controllers/UpdateLoggingConfig.java
  console/backend/src/test/java/org/frankframework/console/controllers/UpdateLoggingConfigTest.java
  console/frontend/src/main/frontend/src/app/app-routing.module.ts
  console/frontend/src/main/frontend/src/app/app.module.ts
  console/frontend/src/main/frontend/src/app/views/logging/logging-add/logging-add.component.html
  console/frontend/src/main/frontend/src/app/views/logging/logging-add/logging-add.component.scss
  console/frontend/src/main/frontend/src/app/views/logging/logging-add/logging-add.component.ts
  console/frontend/src/main/frontend/src/app/views/logging/logging-manage/logging-manage.component.html
  console/frontend/src/main/frontend/src/app/views/logging/logging-manage/logging-manage.component.ts
  console/frontend/src/main/frontend/src/app/views/logging/logging.service.ts
  core/src/main/java/org/frankframework/management/bus/endpoints/UpdateLogDefinitions.java
  core/src/test/java/org/frankframework/management/bus/endpoints/TestUpdateLogDefinitions.java
Labels: Frank Console

#7458 Some optimisations in stream copying code.
  commons/src/main/java/org/frankframework/util/StreamUtil.java
  core/src/main/java/org/frankframework/stream/Message.java
  core/src/main/java/org/frankframework/stream/SerializableFileReference.java
Labels: Technical Debt

#7451 Fix error message on Rerun from Tibet2 exception log
  ladybug/src/main/java/nl/nn/ibistesttool/tibet2/Debugger.java
Labels: Backport, 7.9

#7466 Fix NPE in IDinConfig
  idin/src/main/java/nl/nn/adapterframework/extensions/idin/IdinSender.java
Labels: Backport, 7.9

#7467 Fix NPE in IDinConfig
  idin/src/main/java/org/frankframework/extensions/idin/IdinSender.java
Labels: Backport, 8.0

#7488 Prevent CloseReportsTask from throwing NPEs
  ladybug/src/main/resources/springIbisTestTool.xml
Labels: Backport, 7.9

#7514 Custom view popout button trigger to stay after router events
  console/frontend/src/main/frontend/src/app/components/pages/pages-topinfobar/pages-topinfobar.component.ts
  console/frontend/src/main/frontend/src/app/views/iframe/iframe-custom-view/iframe-custom-view.component.ts
Labels: Bug, Frank Console

#7533 Fix incorrect adapter status colour & improved adapter updates
  console/backend/src/main/java/org/frankframework/console/controllers/socket/EventHandler.java
  console/backend/src/main/java/org/frankframework/console/controllers/socket/FrankApiWebSocketBase.java
  console/backend/src/main/java/org/frankframework/console/controllers/socket/MessageCacheStore.java
  console/backend/src/test/java/org/frankframework/console/controllers/socket/MessageCacheStoreTest.java
  console/frontend/src/main/frontend/src/app/app.component.ts
Labels: Frank Console

#7539 Fix JMS form issues
  console/frontend/src/main/frontend/src/app/views/jms/jms-browse-queue/jms-browse-queue.component.ts
  console/frontend/src/main/frontend/src/app/views/jms/jms-send-message/jms-send-message.component.ts
Labels: Frank Console

#7548 Fix start/stop all adapters sending wrong adapter names to backend
  console/frontend/src/main/frontend/src/app/views/status/status.component.ts
Labels: Frank Console, 7.9

#7506 Replace jQuery dependencies with custom components/solutions
  console/frontend/src/main/frontend/angular.json
  console/frontend/src/main/frontend/package-lock.json
  console/frontend/src/main/frontend/package.json
  console/frontend/src/main/frontend/src/app/app.module.ts
  console/frontend/src/main/frontend/src/app/app.service.ts
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.html
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.scss
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.spec.ts
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.ts
  console/frontend/src/main/frontend/src/app/components/datatable/dt-content.directive.spec.ts
  console/frontend/src/main/frontend/src/app/components/datatable/dt-content.directive.ts
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/minimaliza-sidebar.component.ts
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.html
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.scss
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.ts
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/sidebar.directive.spec.ts
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/sidebar.directive.ts
  console/frontend/src/main/frontend/src/app/components/pages/pages-topnavbar/hamburger.component.ts
  console/frontend/src/main/frontend/src/app/components/pages/side-navigation.directive.spec.ts
  console/frontend/src/main/frontend/src/app/components/pages/side-navigation.directive.ts
  console/frontend/src/main/frontend/src/app/components/pages/sidebar.service.spec.ts
  console/frontend/src/main/frontend/src/app/components/pages/sidebar.service.ts
  console/frontend/src/main/frontend/src/app/components/to-date.directive.ts
  console/frontend/src/main/frontend/src/app/pipes/truncate.pipe.ts
  console/frontend/src/main/frontend/src/app/utils.ts
  console/frontend/src/main/frontend/src/app/views/connections/connections.component.html
  console/frontend/src/main/frontend/src/app/views/connections/connections.component.ts
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list-dt/storage-list-dt.component.html
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list-dt/storage-list-dt.component.ts
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.html
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.ts
  console/frontend/src/main/frontend/src/app/views/storage/storage.service.ts
  console/frontend/src/main/frontend/src/assets/css/bootstrap-fix.css
  console/frontend/src/main/frontend/src/index.html
  console/frontend/src/main/frontend/src/main.ts
  console/frontend/src/main/frontend/src/styles.scss
  docker/tomcat-members-debug.yml
Labels: Frank Console

#7557 Update Console Frontend dependencies
  console/frontend/src/main/frontend/package-lock.json
  console/frontend/src/main/frontend/package.json
Labels: Frank Console

#7558 Fancy side navigation menu animations
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.html
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.scss
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.ts
  console/frontend/src/main/frontend/src/assets/css/style.css
Labels: Frank Console

#7567 Message.close() doesn't actually throw
  core/src/main/java/org/frankframework/receivers/Receiver.java
  core/src/main/java/org/frankframework/scheduler/job/ExecuteQueryJob.java
  core/src/main/java/org/frankframework/scheduler/job/SendMessageJob.java
  core/src/main/java/org/frankframework/stream/Message.java
  core/src/test/java/org/frankframework/mongodb/MongoDbSenderTest.java
  ladybug/debugger/src/main/java/org/frankframework/ladybug/Debugger.java
  ladybug/debugger/src/main/java/org/frankframework/ladybug/MessageEncoder.java
  larva/src/main/java/org/frankframework/larva/LarvaTool.java
Labels: Technical Debt

#7572 Fix `null` configuration warnings update not being picked up
  console/frontend/src/main/frontend/src/app/app.component.ts
  console/frontend/src/main/frontend/src/app/app.service.ts
  console/frontend/src/main/frontend/src/app/utils.ts
Labels: Frank Console
