Repository frankframework/frankframework, pull requests merged in 2025-09, with the labels that each got.

#9572 Fix console styling in production builds
  console/frontend/src/main/frontend/angular.json
  console/frontend/src/main/frontend/src/external/bootstrap.css
  console/frontend/src/main/frontend/src/external/bootstrap.min.css
  console/frontend/src/main/frontend/src/styles.scss
Labels: FF! Console

#9549 Add check for signed pdf to avoid processing signed pdf files
  CONTRIBUTING.md
  aspose/src/test/java/org/frankframework/extensions/aspose/pipe/PdfPipeTest.java
  aspose/src/test/resources/PdfPipe/results/signed.pdf
  aspose/src/test/resources/PdfPipe/results/unsigned.pdf
  aspose/src/test/resources/PdfPipe/signed.pdf
  aspose/src/test/resources/PdfPipe/unsigned.pdf
  aspose/src/test/resources/PdfPipe/xml-results/pdf.xml
  aspose/src/test/resources/PdfPipe/xml-results/signed_pdf.xml
Labels: Aspose

#9566 Update frank-config-layout to v1.2.3
  console/frontend/src/main/frontend/package.json
  console/frontend/src/main/frontend/pnpm-lock.yaml
Labels: Dependencies

#9597 Make datatable columns sortable
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.html
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.scss
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.ts
  console/frontend/src/main/frontend/src/app/components/th-sortable.directive.ts
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.ts
Labels: FF! Console, Backport, 9.0

#9570 Use a connection-manager like the JMS RecoveryHelper does to avoid "connection not open" errors
  core/src/main/java/org/frankframework/jdbc/datasource/JdbcPoolUtil.java
  core/src/main/java/org/frankframework/jta/narayana/DataSourceXAResourceRecoveryHelper.java
  core/src/main/java/org/frankframework/jta/narayana/NarayanaDataSourceFactory.java
  core/src/test/java/org/frankframework/jta/StatusRecordingTransactionManagerImplementationTest.java
  core/src/test/java/org/frankframework/jta/StatusRecordingTransactionManagerTestBase.java
  core/src/test/java/org/frankframework/jta/TransactionConnectorTest.java
  core/src/test/java/org/frankframework/jta/narayana/HeuristicDetectingRecoveryModuleTest.java
  core/src/test/java/org/frankframework/jta/narayana/NarayanaDataSourceFactoryTest.java
  core/src/test/java/org/frankframework/jta/xa/XaDataSourceModifier.java
  core/src/test/java/org/frankframework/jta/xa/XaDatasourceCommitStopper.java
  core/src/test/java/org/frankframework/jta/xa/XaDatasourceOperationCounter.java
  core/src/test/java/org/frankframework/jta/xa/XaResourceObserver.java
  core/src/test/java/org/frankframework/jta/xa/XaResourceObserverFactory.java
  core/src/test/java/org/frankframework/testutil/ConcurrentActionTester.java
  core/src/test/java/org/frankframework/testutil/TestConfiguration.java
  core/src/test/java/org/frankframework/testutil/TestNarayanaDataSourceFactory.java
  core/src/test/java/org/frankframework/testutil/TransactionManagerType.java
  core/src/test/java/org/frankframework/testutil/junit/DatabaseTestEnvironment.java
  core/src/test/java/org/frankframework/testutil/junit/DatabaseTestInvocationContext.java
  core/src/test/java/org/frankframework/testutil/junit/JtaTxManagerTest.java
  core/src/test/java/org/frankframework/util/LockerTest.java
  core/src/test/resources/resources.yml
  dbms/src/main/java/org/frankframework/dbms/GenericDbmsSupport.java
  dbms/src/main/java/org/frankframework/dbms/IDbmsSupport.java
Labels: Transaction Manager

#9642 Fix the Github build-cache
  .github/workflows/codeql-java.yml
  .github/workflows/database-tests.yml
  .github/workflows/full-maven-build.yml
  .github/workflows/smoke-tests.yml
Labels: CI, github_actions

#9635 Fix incorrect condition in FileSystemListener deleteAfterProcessed
  filesystem/src/main/java/org/frankframework/filesystem/AbstractFileSystemListener.java
  filesystem/src/test/java/org/frankframework/filesystem/BasicFileSystemListenerTest.java
  filesystem/src/test/java/org/frankframework/filesystem/WritableFileSystemListenerTest.java
Labels: FileSystem

#9650 Fix incorrect condition in FileSystemListener deleteAfterProcessed
  filesystem/src/main/java/org/frankframework/filesystem/AbstractFileSystemListener.java
  filesystem/src/test/java/org/frankframework/filesystem/BasicFileSystemListenerTest.java
  filesystem/src/test/java/org/frankframework/filesystem/WritableFileSystemListenerTest.java
Labels: Backport, FileSystem, 9.2

#9661 Update dependabot.yml for pnpm workspaces
  .github/dependabot.yml
Labels: Dependencies

#9681 Prepare release: update dependencies (7.9)
  pom.xml
Labels: 7.9

#9682 Add literal pipe to escape most whitespace characters
  console/frontend/src/main/frontend/cypress/cypress.config.ts
  console/frontend/src/main/frontend/cypress/e2e/views/environment-variables.cy.ts
  console/frontend/src/main/frontend/src/app/pipes/literal.pipe.spec.ts
  console/frontend/src/main/frontend/src/app/pipes/literal.pipe.ts
  console/frontend/src/main/frontend/src/app/views/environment-variables/environment-variables-table/environment-variables-table.component.html
  console/frontend/src/main/frontend/src/app/views/environment-variables/environment-variables-table/environment-variables-table.component.ts
Labels: FF! Console

#9683 Add literal pipe to escape most whitespace characters
  console/frontend/src/main/frontend/src/app/pipes/literal.pipe.spec.ts
  console/frontend/src/main/frontend/src/app/pipes/literal.pipe.ts
  console/frontend/src/main/frontend/src/app/views/environment-variables/environment-variables.component.html
  console/frontend/src/main/frontend/src/app/views/environment-variables/environment-variables.component.ts
Labels: FF! Console, Backport, 9.2

#9688 Enable smoketest-build with JDK25
  .github/workflows/smoke-tests.yml
  core/src/test/java/org/frankframework/stream/MessageTest.java
  pom.xml
Labels: Java

#9689 Make reading file extended attributes more robust when there are character conversion issues.
  aws/src/main/java/org/frankframework/filesystem/AmazonS3FileSystem.java
  core/src/main/java/org/frankframework/util/MessageUtils.java
  filesystem/src/main/java/org/frankframework/filesystem/LocalFileSystem.java
  filesystem/src/test/java/org/frankframework/filesystem/LocalFileSystemTest.java
Labels: FileSystem

#9711 Make reading file extended attributes more robust when there are character conversion issues
  aws/src/main/java/org/frankframework/filesystem/AmazonS3FileSystem.java
  core/src/main/java/org/frankframework/util/MessageUtils.java
  filesystem/src/main/java/org/frankframework/filesystem/LocalFileSystem.java
  filesystem/src/test/java/org/frankframework/filesystem/LocalFileSystemTest.java
Labels: Backport, FileSystem, 9.2

#9715 Upgrade Narayana to mitigate session leak
  pom.xml
Labels: Dependencies, 8.3

#9716 Update sonatype release plugin
  pom.xml
Labels: Dependencies, 9.2

#9713 Github Maven Build Optimizations
  .github/workflows/codeql-java.yml
  .github/workflows/database-tests.yml
  .github/workflows/smoke-tests.yml
  console/pom.xml
Labels: CI

#9725 Update frank-doc-plugin
  pom.xml
Labels: Dependencies, 9.0

#9724 Update frank-doc-plugin
  pom.xml
Labels: Dependencies, 8.3
