Repository frankframework/frankframework, pull requests merged in 2025-05, with the labels that each got.

#8913 Larva Refactor
  commons/src/main/java/org/frankframework/util/PropertyLoader.java
  larva/pom.xml
  larva/src/main/java/org/frankframework/extensions/test/IbisTester.java
  larva/src/main/java/org/frankframework/larva/FileSender.java
  larva/src/main/java/org/frankframework/larva/LarvaConfig.java
  larva/src/main/java/org/frankframework/larva/LarvaException.java
  larva/src/main/java/org/frankframework/larva/LarvaHtmlConfig.java
  larva/src/main/java/org/frankframework/larva/LarvaLogLevel.java
  larva/src/main/java/org/frankframework/larva/LarvaServlet.java
  larva/src/main/java/org/frankframework/larva/LarvaTool.java
  larva/src/main/java/org/frankframework/larva/LarvaUtil.java
  larva/src/main/java/org/frankframework/larva/Scenario.java
  larva/src/main/java/org/frankframework/larva/ScenarioLoader.java
  larva/src/main/java/org/frankframework/larva/ScenarioRunner.java
  larva/src/main/java/org/frankframework/larva/TestConfig.java
  larva/src/main/java/org/frankframework/larva/TestRunStatus.java
  larva/src/main/java/org/frankframework/larva/actions/LarvaActionFactory.java
  larva/src/main/java/org/frankframework/larva/actions/LarvaApplicationContext.java
  larva/src/main/java/org/frankframework/larva/output/HtmlScenarioOutputRenderer.java
  larva/src/main/java/org/frankframework/larva/output/LarvaHtmlWriter.java
  larva/src/main/java/org/frankframework/larva/output/LarvaWriter.java
  larva/src/main/java/org/frankframework/larva/output/PlainTextScenarioOutputRenderer.java
  larva/src/main/java/org/frankframework/larva/output/TestExecutionObserver.java
  larva/src/main/java/org/frankframework/pipes/LarvaPipe.java
  larva/src/test/java/org/frankframework/larva/LarvaTestHelpers.java
  larva/src/test/java/org/frankframework/larva/LarvaToolMapPropertiesToIgnoresTest.java
  larva/src/test/java/org/frankframework/larva/LarvaToolTest.java
  larva/src/test/java/org/frankframework/larva/ScenarioLoaderTest.java
  larva/src/test/java/org/frankframework/larva/ScenarioTest.java
  larva/src/test/java/org/frankframework/larva/TestRunStatusTest.java
  larva/src/test/java/org/frankframework/larva/queues/LarvaActionFactoryTest.java
  larva/src/test/java/org/frankframework/pipes/LarvaPipeTest.java
  larva/src/test/resources/scenario-test-data/alt-scenario-root/alt-scenario.properties
  larva/src/test/resources/scenario-test-data/scenarios-root-should-be-ignored/dummy.txt
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir1/active-failing-scenario.properties
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir1/active-scenario.properties
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir1/common.properties
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir1/out.txt
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir1/subdir/common.properties
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir1/subdir/in.xml
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir1/subdir/out.xml
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir1/subdir/scenario01.properties
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir2/common.properties
  larva/src/test/resources/scenario-test-data/scenarios/scenariodir2/inactive-scenario.properties
  test/src/test/java/org/frankframework/runner/HtmlTagStrippingWriter.java
  test/src/test/java/org/frankframework/runner/RunLarvaTests.java
Labels: Larva, Technical Debt

#8988 Fix multiple credential providers
  CONTRIBUTING.md
  RELEASES.md
  TESTING_WITH_IAF-TEST.md
  core/src/main/java/org/frankframework/management/bus/endpoints/SecurityItems.java
  core/src/main/java/org/frankframework/pipes/CredentialCheckingPipe.java
  core/src/main/java/org/frankframework/util/CredentialFactory.java
  core/src/test/java/org/frankframework/pipes/CredentialCheckingPipeTest.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/CredentialFactory.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/FileSystemCredentialFactory.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/FileSystemCredentials.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/ICredentialFactory.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/MapCredentialFactory.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/WildFlyCredentialFactory.java
  credentialProvider/src/test/java/org/frankframework/credentialprovider/CredentialFactoryTest.java
  credentialProvider/src/test/java/org/frankframework/credentialprovider/CredentialResolverTest.java
  credentialProvider/src/test/java/org/frankframework/credentialprovider/MockCredentialFactory.java
  credentialProvider/src/test/java/org/frankframework/credentialprovider/PropertyFileCredentialFactoryTest.java
  idin/src/main/java/org/frankframework/extensions/idin/IdinSender.java
  idin/src/test/java/org/frankframework/extensions/idin/IdinSenderTest.java
  idin/src/test/resources/credentialprovider.properties
  idin/src/test/resources/credentials.properties
  kubernetes/src/main/java/org/frankframework/credentialprovider/KubernetesCredentialFactory.java
Labels: Backport, 8.3

#8986 Fix multiple credential providers
  CONTRIBUTING.md
  RELEASES.md
  TESTING_WITH_IAF-TEST.md
  core/src/main/java/org/frankframework/management/bus/endpoints/SecurityItems.java
  core/src/main/java/org/frankframework/pipes/CredentialCheckingPipe.java
  core/src/main/java/org/frankframework/util/CredentialFactory.java
  core/src/test/java/org/frankframework/pipes/CredentialCheckingPipeTest.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/AbstractMapCredentialFactory.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/CredentialFactory.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/FileSystemCredentialFactory.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/FileSystemCredentials.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/ICredentialFactory.java
  credentialProvider/src/main/java/org/frankframework/credentialprovider/WildFlyCredentialFactory.java
  credentialProvider/src/test/java/org/frankframework/credentialprovider/CredentialFactoryTest.java
  credentialProvider/src/test/java/org/frankframework/credentialprovider/CredentialResolverTest.java
  credentialProvider/src/test/java/org/frankframework/credentialprovider/MockCredentialFactory.java
  credentialProvider/src/test/java/org/frankframework/credentialprovider/PropertyFileCredentialFactoryTest.java
  idin/src/main/java/org/frankframework/extensions/idin/IdinSender.java
  idin/src/test/java/org/frankframework/extensions/idin/IdinSenderTest.java
  idin/src/test/resources/credentialprovider.properties
  idin/src/test/resources/credentials.properties
  kubernetes/src/main/java/org/frankframework/credentialprovider/KubernetesCredentialFactory.java
Labels: Backport, 9.0

#8961 Disable testtool echo2 by default
  commons/pom.xml
  commons/src/main/java/org/frankframework/condition/AppConstantCondition.java
  commons/src/main/java/org/frankframework/condition/ConditionalOnAppConstants.java
  commons/src/test/java/org/frankframework/condition/AppConstantConditionTest.java
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.html
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.ts
  core/src/main/resources/AppConstants.properties
  ladybug/common/src/main/java/org/frankframework/ladybug/config/LadybugSecurityChainConfigurer.java
  ladybug/common/src/main/java/org/frankframework/ladybug/config/LadybugServletConfiguration.java
  security/src/main/java/org/frankframework/lifecycle/servlets/AbstractServletAuthenticator.java
Labels: FF! Console, Ladybug

#8982 Fix statistics graph time offset
  console/frontend/src/main/frontend/src/app/app.component.ts
  console/frontend/src/main/frontend/src/app/services/server-info.service.ts
  console/frontend/src/main/frontend/src/app/services/server-time.service.ts
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.component.ts
  core/src/main/java/org/frankframework/management/bus/endpoints/ServerStatistics.java
Labels: FF! Console

#8974 Larva Output Refactoring
  larva/src/main/java/org/frankframework/extensions/test/IbisTester.java
  larva/src/main/java/org/frankframework/larva/LarvaLogLevel.java
  larva/src/main/java/org/frankframework/larva/LarvaMessage.java
  larva/src/main/java/org/frankframework/larva/LarvaServlet.java
  larva/src/main/java/org/frankframework/larva/LarvaTool.java
  larva/src/main/java/org/frankframework/larva/LarvaUtil.java
  larva/src/main/java/org/frankframework/larva/ListenerMessageHandler.java
  larva/src/main/java/org/frankframework/larva/ScenarioLoader.java
  larva/src/main/java/org/frankframework/larva/ScenarioRunner.java
  larva/src/main/java/org/frankframework/larva/TestRunStatus.java
  larva/src/main/java/org/frankframework/larva/actions/LarvaActionFactory.java
  larva/src/main/java/org/frankframework/larva/actions/LarvaPushingListenerAction.java
  larva/src/main/java/org/frankframework/larva/output/HtmlScenarioOutputRenderer.java
  larva/src/main/java/org/frankframework/larva/output/LarvaWriter.java
  larva/src/main/java/org/frankframework/pipes/LarvaPipe.java
  larva/src/test/java/org/frankframework/larva/LarvaToolTest.java
  larva/src/test/java/org/frankframework/larva/ScenarioLoaderTest.java
  larva/src/test/java/org/frankframework/larva/TestRunStatusTest.java
  larva/src/test/java/org/frankframework/larva/queues/LarvaActionFactoryTest.java
  larva/src/test/java/org/frankframework/pipes/LarvaPipeTest.java
  test/src/test/java/org/frankframework/runner/RunLarvaTests.java
Labels: Larva

#8990 Add DataSonnetErrorMessageFormatter
  core/src/main/java/org/frankframework/core/Adapter.java
  core/src/main/java/org/frankframework/errormessageformatters/DataSonnetErrorMessageFormatter.java
  core/src/main/java/org/frankframework/errormessageformatters/ErrorMessageFormatter.java
  core/src/main/java/org/frankframework/errormessageformatters/FormatterException.java
  core/src/main/java/org/frankframework/errormessageformatters/XslErrorMessageFormatter.java
  core/src/main/java/org/frankframework/json/DataSonnetOutputType.java
  core/src/main/java/org/frankframework/json/JsonMapper.java
  core/src/main/java/org/frankframework/json/JsonUtil.java
  core/src/main/java/org/frankframework/parameters/ParameterList.java
  core/src/main/java/org/frankframework/pipes/DataSonnetPipe.java
  core/src/main/java/org/frankframework/util/Misc.java
  core/src/main/resources/xml/xsd/FrankConfig-compatibility.xsd
  core/src/main/resources/xml/xsd/FrankConfig.xsd
  core/src/test/java/org/frankframework/align/TestXmlSchema2JsonSchema.java
  core/src/test/java/org/frankframework/errormessageformatters/DataSonnetErrorMessageFormatterTest.java
  core/src/test/java/org/frankframework/errormessageformatters/ErrorMessageFormatterTest.java
  core/src/test/java/org/frankframework/errormessageformatters/MyLocation.java
  core/src/test/java/org/frankframework/errormessageformatters/XslErrorMessageFormatterTest.java
  core/src/test/java/org/frankframework/json/JsonUtilTest.java
  core/src/test/java/org/frankframework/pipes/DataSonnetPipeTest.java
  core/src/test/java/org/frankframework/pipes/JsonXsltPipeTest.java
  core/src/test/java/org/frankframework/testutil/MatchUtils.java
  core/src/test/java/org/frankframework/util/MiscTest.java
  core/src/test/resources/ErrorMessageFormatters/errormessage.jsonnet
  core/src/test/resources/ErrorMessageFormatters/errormessage.xsl
  core/src/test/resources/ErrorMessageFormatters/errormessageWithParams.jsonnet
  core/src/test/resources/JsonUtil/minified.json
  core/src/test/resources/JsonUtil/minifiedJsonArray.json
  core/src/test/resources/JsonUtil/prettified.json
  core/src/test/resources/JsonUtil/prettifiedJsonArray.json
  larva/src/main/java/org/frankframework/larva/LarvaTool.java
  test/src/main/configurations/MainConfig/ConfigurationErrorMessageFormatter.xml
  test/src/main/configurations/MainConfig/ErrorMessageFormatter/buildJsonError.jsonnet
  test/src/test/java/org/frankframework/runner/RunLarvaTests.java
  test/src/test/testtool/ErrorMessageFormatter/common.properties
  test/src/test/testtool/ErrorMessageFormatter/scenario01.properties
  test/src/test/testtool/ErrorMessageFormatter/scenario02.properties
  test/src/test/testtool/ErrorMessageFormatter/scenario02/in.xml
  test/src/test/testtool/ErrorMessageFormatter/scenario02/out.json
  test/src/test/testtool/ErrorMessageFormatter/scenario03.properties
  test/src/test/testtool/ErrorMessageFormatter/scenario03/in.xml
  test/src/test/testtool/ErrorMessageFormatter/scenario03/out.json
Labels: JSON

#8998 Add tests for json message difference comparisons of websocket endpoints
  console/backend/src/main/java/org/frankframework/console/controllers/socket/FrankApiWebSocketBase.java
  console/backend/src/main/java/org/frankframework/console/controllers/socket/MessageCacheStore.java
  console/backend/src/test/java/org/frankframework/console/controllers/WebTestConfiguration.java
  console/backend/src/test/java/org/frankframework/console/controllers/socket/FrankApiWebSocketBaseTest.java
Labels: FF! Console

#9009 Larva - Fix Comparisons that include path of testdata.dir
  larva/src/main/java/org/frankframework/larva/LarvaTool.java
  larva/src/test/java/org/frankframework/larva/LarvaToolTest.java
  larva/src/test/resources/scenario-testdata.properties
  test/src/main/resources/DeploymentSpecifics.properties
  test/src/main/resources/StageSpecifics_LOC.properties
  test/src/test/java/org/frankframework/runner/RunCypressE2eTest.java
  test/src/test/java/org/frankframework/runner/RunLarvaTests.java
  test/src/test/testtool/global.properties
Labels: Larva, Technical Debt

#9005 Use generic common method to generate message IDs
  core/src/main/java/org/frankframework/core/Adapter.java
  core/src/main/java/org/frankframework/errormessageformatters/ErrorMessageFormatter.java
  core/src/main/java/org/frankframework/http/cxf/AbstractSOAPProvider.java
  core/src/main/java/org/frankframework/management/bus/endpoints/TestPipeline.java
  core/src/main/java/org/frankframework/processors/InputOutputPipeLineProcessor.java
  core/src/main/java/org/frankframework/receivers/Receiver.java
  core/src/main/java/org/frankframework/scheduler/job/SendMessageJob.java
  core/src/main/java/org/frankframework/senders/FrankSender.java
  core/src/main/java/org/frankframework/senders/IbisLocalSender.java
  core/src/main/java/org/frankframework/util/MessageUtils.java
  core/src/test/java/org/frankframework/core/AdapterHideRegexTest.java
  core/src/test/java/org/frankframework/senders/IbisLocalSenderTest.java
  ladybug/debugger/src/main/java/org/frankframework/ladybug/LadybugDebugger.java
  ladybug/debugger/src/main/java/org/frankframework/ladybug/tibet2/Tibet2Debugger.java
  ladybug/debugger/src/main/java/org/frankframework/ladybug/tibet2/TibetView.java
  nn-specials/src/main/java/org/frankframework/extensions/bis/BisUtils.java
  nn-specials/src/main/java/org/frankframework/extensions/bis/BisWrapperPipe.java
  nn-specials/src/main/java/org/frankframework/extensions/esb/EsbJmsTransactionalStorage.java
Labels: Technical Debt

#9033 Backport/mqtt fixes
  core/src/main/java/org/frankframework/jdbc/datasource/MqttClientSettings.java
  core/src/main/java/org/frankframework/jdbc/datasource/ObjectFactory.java
  core/src/main/java/org/frankframework/jta/AbstractStatusRecordingTransactionManager.java
  core/src/main/java/org/frankframework/mongodb/JndiMongoClientFactory.java
  core/src/test/java/org/frankframework/receivers/MessageStoreListenerTest.java
  messaging/src/main/java/org/frankframework/extensions/mqtt/MqttClientFactory.java
  messaging/src/main/java/org/frankframework/extensions/mqtt/MqttFacade.java
  messaging/src/test/java/org/frankframework/extensions/mqtt/MqttClientFactoryTest.java
  messaging/src/test/java/org/frankframework/extensions/mqtt/MqttSenderTest.java
  messaging/src/test/resources/mqttResources.yml
Labels: Backport, 9.0

#9042 Implement frank-config-layout in favour of mermaid-js
  console/frontend/src/main/frontend/package-lock.json
  console/frontend/src/main/frontend/package.json
  console/frontend/src/main/frontend/src/app/components/ng-mermaid/ng-mermaid.component.ts
  console/frontend/src/main/frontend/src/app/views/status/flow/flow-modal/flow-modal.component.html
  console/frontend/src/main/frontend/src/app/views/status/flow/flow-modal/flow-modal.component.ts
  console/frontend/src/main/frontend/src/app/views/status/flow/flow.component.ts
  console/frontend/src/main/frontend/src/assets/mermaid-boostrap.scss
Labels: FF! Console

#9063 A few more small code improvements in Larva
  larva/src/main/java/org/frankframework/larva/Scenario.java
  larva/src/main/java/org/frankframework/larva/ScenarioRunner.java
  larva/src/main/java/org/frankframework/larva/actions/LarvaActionFactory.java
  larva/src/main/java/org/frankframework/larva/actions/LarvaPushingListenerAction.java
Labels: Larva, Technical Debt

#9069 Fix "ISender#sendMessageOrThrow" closing result that has also been referenced in Session keys
  core/src/main/java/org/frankframework/core/ISender.java
  core/src/test/java/org/frankframework/pipes/ForEachChildElementPipeTest.java
  core/src/test/java/org/frankframework/senders/IbisLocalSenderTest.java
Labels: Backport, 9.1

#9071 Simplify peeking into message (#8460)
  aspose/src/main/java/nl/nn/adapterframework/extensions/aspose/services/conv/impl/CisConversionServiceImpl.java
  aspose/src/main/java/nl/nn/adapterframework/extensions/aspose/services/conv/impl/MediaTypeValidator.java
  aws/src/test/java/nl/nn/adapterframework/senders/AmazonS3SenderTest.java
  core/src/main/java/nl/nn/adapterframework/stream/Message.java
  core/src/main/java/nl/nn/adapterframework/stream/SerializableFileReference.java
  core/src/main/java/nl/nn/adapterframework/util/MessageUtils.java
  core/src/main/java/nl/nn/adapterframework/util/XmlUtils.java
  core/src/test/java/nl/nn/adapterframework/http/cxf/SoapProviderTest.java
  core/src/test/java/nl/nn/adapterframework/stream/MessageTest.java
  core/src/test/java/nl/nn/adapterframework/util/MessageUtilsTest.java
  core/src/test/java/nl/nn/adapterframework/util/StreamCaptureUtilsTest.java
  iaf-commons/src/main/java/nl/nn/adapterframework/util/StreamUtil.java
Labels: Performance, Backport, 7.9
