Repository frankframework/frankframework, pull requests merged in 2025-07, with the labels that each got.

#9238 MqttClientFactoryTest could interfere with MqttSenderTest sometimes
  messaging/src/test/java/org/frankframework/extensions/mqtt/MqttSenderTest.java
Labels: Technical Debt, MQTT

#9240 Enable larva servlet on appconstants property
  console/frontend/src/main/frontend/src/app/app.component.ts
  console/frontend/src/main/frontend/src/app/app.config.ts
  console/frontend/src/main/frontend/src/app/app.routes.ts
  console/frontend/src/main/frontend/src/app/components/conditional-on-property.directive.ts
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.html
  console/frontend/src/main/frontend/src/app/components/pages/pages-navigation/pages-navigation.component.ts
  console/frontend/src/main/frontend/src/app/guards/conditional-on-property.guard.spec.ts
  console/frontend/src/main/frontend/src/app/guards/conditional-on-property.guard.ts
  console/war/src/main/resources/application.properties
  core/src/main/resources/AppConstants.properties
Labels: FF! Console

#9266 Minor and safe optimisations in Message
  core/src/main/java/org/frankframework/stream/Message.java
Labels: Performance, Technical Debt

#9272 Cleanup in TransactionConnector and related code
  core/src/main/java/org/frankframework/jta/IThreadConnectableTransactionManager.java
  core/src/main/java/org/frankframework/jta/SpringTxManagerProxy.java
  core/src/main/java/org/frankframework/jta/ThreadConnectableDataSourceTransactionManager.java
  core/src/main/java/org/frankframework/jta/ThreadConnectableJtaTransactionManager.java
  core/src/main/java/org/frankframework/jta/TransactionConnector.java
  core/src/main/java/org/frankframework/jta/TransactionConnectorCoordinator.java
  core/src/main/java/org/frankframework/pipes/ForEachChildElementPipe.java
  core/src/main/java/org/frankframework/threading/ThreadConnector.java
Labels: Technical Debt

#9286 Fix certificate expiry check
  commons/src/main/java/org/frankframework/util/TimeProvider.java
  core/src/main/java/org/frankframework/encryption/PkiUtil.java
  core/src/test/java/org/frankframework/encryption/PkiUtilTest.java
  core/src/test/java/org/frankframework/management/bus/endpoints/TestSecurityItems.java
Labels: Backport, 9.2

#9310 Handle failure to restore original file last-modified-time
  aws/src/main/java/org/frankframework/filesystem/AmazonS3FileSystem.java
  filesystem/src/main/java/org/frankframework/filesystem/AbstractConnectedFileSystem.java
  filesystem/src/main/java/org/frankframework/filesystem/AbstractFileSystem.java
  filesystem/src/main/java/org/frankframework/filesystem/AbstractFileSystemListener.java
  filesystem/src/main/java/org/frankframework/filesystem/FileSystemActor.java
  filesystem/src/main/java/org/frankframework/filesystem/ImapFileSystem.java
  filesystem/src/main/java/org/frankframework/filesystem/LocalFileSystem.java
  filesystem/src/main/java/org/frankframework/filesystem/exchange/ExchangeFileSystem.java
  filesystem/src/main/java/org/frankframework/filesystem/smb/Samba1FileSystem.java
  filesystem/src/main/java/org/frankframework/filesystem/smb/Samba2FileSystem.java
Labels: Backport, FileSystem, 9.2

#9315 Tests demonstrating that 'resultStatusCodeSessionKey' works as documented
  core/src/main/java/org/frankframework/http/AbstractHttpSender.java
  core/src/test/java/org/frankframework/http/HttpSenderResultTest.java
  core/src/test/java/org/frankframework/http/authentication/HttpSenderAuthenticationTest.java
  core/src/test/java/org/frankframework/http/authentication/MockAuthenticatedService.java
  test/src/main/configurations/HTTP/Configuration.xml
  test/src/main/configurations/HTTP/ConfigurationHttpSender.xml
  test/src/test/testtool/HttpSender/scenario05.properties
  test/src/test/testtool/HttpSender/scenario05/out.txt
Labels: HTTP

#9334 Cleanup scheduler & job information
  console/frontend/src/main/frontend/src/app/views/scheduler/scheduler.component.html
  console/frontend/src/main/frontend/src/app/views/scheduler/scheduler.component.scss
  console/frontend/src/main/frontend/src/app/views/scheduler/scheduler.component.ts
Labels: FF! Console

#9335 Add errorhandling to server-time service
  console/frontend/src/main/frontend/src/app/services/server-time.service.ts
Labels: FF! Console

#9360 Some Sonar love in CMIS classes
  cmis/src/main/java/org/frankframework/extensions/cmis/CmisUtils.java
  cmis/src/main/java/org/frankframework/extensions/cmis/mtom/MtomProxy.java
  cmis/src/main/java/org/frankframework/extensions/cmis/server/BridgedCmisService.java
  cmis/src/main/java/org/frankframework/extensions/cmis/server/FilterCmisService.java
  cmis/src/main/java/org/frankframework/extensions/cmis/server/impl/IbisObjectService.java
  core/src/test/java/org/frankframework/configuration/classloaders/ConfigurationClassLoaderTestBase.java
Labels: Technical Debt

#9367 Remove StreamUtil import from log initialisation classes
  core/src/main/java/nl/nn/adapterframework/logging/IbisLoggerConfigurationFactory.java
Labels: Backport, 7.9

#9365 Reintroduce frank-config-layout as Mermaid replacement
  console/frontend/src/main/frontend/package.json
  console/frontend/src/main/frontend/pnpm-lock.yaml
  console/frontend/src/main/frontend/src/app/components/ng-mermaid/ng-mermaid.component.ts
  console/frontend/src/main/frontend/src/app/views/status/flow/flow-modal/flow-modal.component.ts
Labels: FF! Console

#9391 Fix filesystem message storage not displaying messages in list
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.html
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.ts
Labels: FF! Console

#9392 Fix filesystem message storage not displaying messages in list
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.html
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.ts
Labels: FF! Console, Backport, 9.2

#9386 Try to improve parameter pattern parsing and formatting code
  core/src/main/java/org/frankframework/parameters/AbstractParameter.java
  core/src/main/java/org/frankframework/parameters/DateParameter.java
  core/src/test/java/org/frankframework/parameters/DateParameterTest.java
Labels: Refactor, Parameter
