Repository frankframework/frankframework, pull requests merged in 2025-06, with the labels that each got.

#9090 Fix oauth flow in standalone app
  console/backend/src/main/java/org/frankframework/console/configuration/SecurityChainConfigurer.java
  ladybug/common/src/main/java/org/frankframework/ladybug/config/LadybugSecurityChainConfigurer.java
  security/src/main/java/org/frankframework/lifecycle/servlets/OAuth2Authenticator.java
  security/src/main/java/org/frankframework/lifecycle/servlets/ServletAuthenticatorBase.java
Labels: Backport, 8.3

#9088 Fix oauth flow in standalone app
  console/backend/src/main/java/org/frankframework/console/configuration/SecurityChainConfigurer.java
  ladybug/common/src/main/java/org/frankframework/ladybug/config/LadybugSecurityChainConfigurer.java
  security/src/main/java/org/frankframework/lifecycle/servlets/AbstractServletAuthenticator.java
  security/src/main/java/org/frankframework/lifecycle/servlets/OAuth2Authenticator.java
Labels: Backport, 9.0

#9093 Add expiryScanner to either purge or move expired items
  core/src/main/java/org/frankframework/jdbc/datasource/PoolingDataSourceFactory.java
  core/src/main/java/org/frankframework/jta/narayana/NarayanaConfigurationBean.java
  core/src/main/java/org/frankframework/jta/narayana/NarayanaJtaTransactionManager.java
  core/src/main/resources/AppConstants.properties
Labels: Backport, 9.0

#9106 Larva minor improvements
  larva/src/main/java/org/frankframework/larva/Scenario.java
  larva/src/main/java/org/frankframework/larva/Step.java
  larva/src/test/java/org/frankframework/larva/StepTest.java
Labels: Larva

#9124 Message Closed Too Early (#9012)
  core/src/main/java/org/frankframework/pipes/IfPipe.java
  core/src/main/java/org/frankframework/stream/Message.java
  core/src/main/java/org/frankframework/util/MessageUtils.java
  core/src/test/java/org/frankframework/http/cxf/SoapProviderTest.java
  core/src/test/java/org/frankframework/pipes/DataSonnetPipeTest.java
  core/src/test/java/org/frankframework/pipes/IfPipeJsonPathTest.java
  core/src/test/java/org/frankframework/pipes/IfPipeTest.java
  core/src/test/java/org/frankframework/pipes/IfPipeXpathTest.java
  core/src/test/java/org/frankframework/stream/MessageTest.java
  core/src/test/java/org/frankframework/util/MessageUtilsTest.java
Labels: Backport, 9.0

#9122 Message closed too early
  core/src/main/java/org/frankframework/pipes/IfPipe.java
  core/src/main/java/org/frankframework/stream/Message.java
  core/src/main/java/org/frankframework/util/MessageUtils.java
  core/src/test/java/org/frankframework/components/ComponentLoaderTest.java
  core/src/test/java/org/frankframework/http/cxf/SoapProviderTest.java
  core/src/test/java/org/frankframework/pipes/DataSonnetPipeTest.java
  core/src/test/java/org/frankframework/pipes/IfPipeJsonPathTest.java
  core/src/test/java/org/frankframework/pipes/IfPipeTest.java
  core/src/test/java/org/frankframework/pipes/IfPipeXpathTest.java
  core/src/test/java/org/frankframework/stream/MessageTest.java
  core/src/test/java/org/frankframework/testutil/TestAssertions.java
  core/src/test/java/org/frankframework/util/MessageUtilsTest.java
  messaging/src/test/java/org/frankframework/extensions/mqtt/MqttClientFactoryTest.java
Labels: Backport, 9.1

#9121 Add flow code to console logging output & hide visual errors in prod
  console/frontend/src/main/frontend/src/app/components/ng-mermaid/ng-mermaid.component.ts
Labels: FF! Console

#9137 Minor improvements
  core/src/main/java/org/frankframework/configuration/Configuration.java
  core/src/main/java/org/frankframework/configuration/digester/IncludeFilter.java
  core/src/main/java/org/frankframework/configuration/filters/SkipContainersFilter.java
Labels: Technical Debt

#9136 Add expiring certificates to security items page
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.component.html
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.component.scss
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.component.ts
  console/frontend/src/main/frontend/src/app/views/security-items/security-items.service.ts
Labels: FF! Console

#9154 Improve JSON Path validation and evaluation in Parameter
  core/src/main/java/org/frankframework/parameters/AbstractParameter.java
  core/src/test/java/org/frankframework/parameters/ParameterTest.java
Labels: Parameter, JSON

#9161 Handle numerical and boolean values in JSON better
  core/src/main/java/org/frankframework/pipes/IfPipe.java
  core/src/test/java/org/frankframework/pipes/IfPipeJsonPathTest.java
  core/src/test/java/org/frankframework/pipes/IfPipeTest.java
Labels: Backport, 9.0

#9160 Handle numerical and boolean values in JSON better
  core/src/main/java/org/frankframework/pipes/IfPipe.java
  core/src/test/java/org/frankframework/pipes/IfPipeJsonPathTest.java
  core/src/test/java/org/frankframework/pipes/IfPipeTest.java
Labels: Backport, 9.1

#9143 Add JsonPathPipe
  core/src/main/java/org/frankframework/pipes/JsonPathPipe.java
  core/src/main/resources/xml/xsd/FrankConfig-compatibility.xsd
  core/src/main/resources/xml/xsd/FrankConfig.xsd
  core/src/test/java/org/frankframework/pipes/JsonPathPipeTest.java
Labels: JSON

#9166 Improve flow display & update frank-config-layout
  console/frontend/src/main/frontend/package-lock.json
  console/frontend/src/main/frontend/package.json
  console/frontend/src/main/frontend/src/app/components/ng-mermaid/ng-mermaid.component.ts
  console/frontend/src/main/frontend/src/app/views/status/adapter-status/adapter-status.component.html
  console/frontend/src/main/frontend/src/app/views/status/flow/flow.component.html
  console/frontend/src/main/frontend/src/app/views/status/flow/flow.component.ts
  console/frontend/src/main/frontend/src/app/views/status/status.service.ts
Labels: FF! Console

#9134 Fix Console error page & logging page on framework startup error
  console/frontend/src/main/frontend/src/app/components/file-viewer/file-viewer.component.ts
  console/frontend/src/main/frontend/src/app/components/toasts-container/toasts-container.component.html
  console/frontend/src/main/frontend/src/app/guards/auth.guard.ts
  console/frontend/src/main/frontend/src/app/services/auth.service.ts
  console/frontend/src/main/frontend/src/app/views/error/error.component.ts
Labels: FF! Console, Backport, 9.1

#9180 FileSystemPipes should not do ExceptionForward themselves
  filesystem/src/main/java/org/frankframework/filesystem/AbstractFileSystemPipe.java
  filesystem/src/test/java/org/frankframework/filesystem/FileSystemPipeTest.java
Labels: Technical Debt

#9181 Sort processing receivers statistics based on thread name
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.component.html
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.component.ts
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.service.ts
  console/frontend/src/main/frontend/src/app/views/status/adapter-status/adapter-status.component.html
  console/frontend/src/main/frontend/src/app/views/status/adapter-status/adapter-status.component.ts
Labels: FF! Console

#9184 Sort processing receivers statistics based on thread name
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.component.html
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.component.ts
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.service.ts
Labels: FF! Console, Backport, 9.0

#9182 Sort processing receivers statistics based on thread name
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.component.html
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.component.ts
  console/frontend/src/main/frontend/src/app/views/adapterstatistics/adapterstatistics.service.ts
  console/frontend/src/main/frontend/src/app/views/status/adapter-status/adapter-status.component.ts
Labels: FF! Console, Backport, 9.1

#9196 Update frank-config-layout to 1.1.2
  console/frontend/src/main/frontend/package-lock.json
  console/frontend/src/main/frontend/package.json
Labels: FF! Console, Dependencies

#9206 Add sorting options in error store
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.ts
  console/frontend/src/main/frontend/src/app/components/th-sortable.directive.spec.ts
  console/frontend/src/main/frontend/src/app/components/th-sortable.directive.ts
  console/frontend/src/main/frontend/src/app/views/configurations/configurations-manage/configurations-manage-details/configurations-manage-details.component.ts
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.html
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.ts
Labels: FF! Console

#9208 Improve flow modal window size
  console/frontend/src/main/frontend/src/app/views/status/flow/flow-modal/flow-modal.component.scss
  console/frontend/src/main/frontend/src/assets/css/style.css
Labels: FF! Console

#9207 Some suggested code cleanups
  core/src/main/java/org/frankframework/components/ComponentLoader.java
  core/src/main/java/org/frankframework/core/PipeLine.java
  core/src/main/java/org/frankframework/http/HttpSender.java
  core/src/main/java/org/frankframework/jdbc/JdbcListener.java
  core/src/main/java/org/frankframework/processors/CorePipeLineProcessor.java
  core/src/main/java/org/frankframework/processors/TransactionAttributePipeLineProcessor.java
  core/src/test/java/org/frankframework/configuration/TestConfigurableLifeCycle.java
  core/src/test/java/org/frankframework/core/PipeLineTest.java
  core/src/test/java/org/frankframework/http/openapi/OpenApiTestBase.java
  core/src/test/java/org/frankframework/jdbc/JdbcEnabledPipeTestBase.java
  core/src/test/java/org/frankframework/management/bus/endpoints/TestInlineStorage.java
  core/src/test/java/org/frankframework/receivers/ConditionalPipelineCallerTest.java
  core/src/test/java/org/frankframework/receivers/ReceiverSubAdapterTest.java
  core/src/test/java/org/frankframework/receivers/ReceiverTest.java
  core/src/test/java/org/frankframework/receivers/TestReceiverOnError.java
  core/src/test/java/org/frankframework/senders/FrankSenderTest.java
  messaging/src/main/java/org/frankframework/jms/PushingJmsListener.java
  messaging/src/main/java/org/frankframework/unmanaged/SpringJmsConnector.java
  messaging/src/test/java/org/frankframework/jms/PushingJmsListenerTest.java
  nn-specials/src/test/java/org/frankframework/core/TestDirectWrapperPipePipeLine.java
Labels: Technical Debt

#9215 Add sorting options in error store
  console/frontend/src/main/frontend/src/app/components/datatable/datatable.component.ts
  console/frontend/src/main/frontend/src/app/components/th-sortable.directive.spec.ts
  console/frontend/src/main/frontend/src/app/components/th-sortable.directive.ts
  console/frontend/src/main/frontend/src/app/views/configurations/configurations-manage/configurations-manage-details/configurations-manage-details.component.ts
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.html
  console/frontend/src/main/frontend/src/app/views/storage/storage-list/storage-list.component.ts
Labels: FF! Console, Backport, 9.0
